:root {

  /* Start: Colors */

  --light: #ffffff;
  --dark: #333333;
  --bg-color-1: #33658A;
  --bg-color-2: #86BBD8;
  --bg-color-3: #758E4F;
  --bg-color-4: #F6AE2D;
  --bg-color-5: #F26419;
  --bg-color-6: #E4D440;
  --primary-color: var(--dark);

  /* End: Colors */
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html {
  color: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

code, kbd, samp {
  background-color: #ffffff59;
  padding: 0px 10px;
  border: 1px dashed #fff;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

h1 span {
  display: block;
  font-size: 50%;
  font-weight: 600;
}

h2 span,
h3 span,
h4 span {
  font-size: 50%;
  font-weight: 600;
}

a {
  color: var(--primary-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  display: inline-block;
  vertical-align: middle;
}

main {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

main section {
  scroll-snap-align: start;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}
.panel.light {
  color: var(--dark);
}
.panel.dark {
  color: var(--light);
}
.panel > div {
  padding: 20px 20px 40px 20px;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.panel > .bg-image {
  background-attachment: fixed;
  bottom: 0;
  height: 100%;
  left: 0;
  max-width: none;
  right: 0;
  top: 0;
  width: 100%;
}

#panel-seven { background-color: var(--bg-color-2); }

.accordion-component dt,
.accordion-component dd {
  clear: both;
  display: block;
  margin: 0;
  padding: 5px 10px;
}
.accordion-component dt {
  border-bottom: 1px solid rgba(255,255,255,0.5);
  margin-bottom: 20px;
}

.accordion-component dt:after {
  content: "+";
  float: right;
  font-weight: 700;
  margin-right: 5px;
  width: 10px;
}
.accordion-component dt.active {
  background-color: rgba(255,255,255,0.25);
  margin-bottom: 5px;
}
.accordion-component dt.active + dd {
  display: block;
}
.accordion-component dt.active:after {
  content: "-";
}
.accordion-component dd {
  display: none;
  margin-bottom: 2em;
}